@using Parsing_on_.net.Models;

@model List<Shop>
@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var item in Model)
    {
        <table border="1">
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Discount@item.Label
                </td>
                <td>
                    <img src="@item.Image" />
                </td>
            </tr>
        </table>
    }
</div>